<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HippoCampus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <nav>
      <div id="left">
        <img src="{{ url_for('static', filename='logo.PNG') }}" />
        <a href="/"><h1>HippoCampus</h1></a>
      </div>
      <div id="right">
        <ul>
          <li><a href="/quiz/start">Quiz</a></li>
          <li><a href="/analytics">Analytics</a></li>
          <li><a href="/login" class="button">Log in</a></li>
          <li><a href="/register" class="button">Sign up</a></li>
        </ul>
      </div>
    </nav>
    <form class="form" method="post">
        <label>How many questions would you like to complete?</label>
        <br><br>
        <input type="number" name="limit" min="1" max ="7" required>
        <br><br>
        <button type="submit">Start quiz</button>
    </form>
  </body>
</html>